<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport"
        content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <title>index</title>
    <link rel="stylesheet" href="/css/chart/FlexoCalendar.css">
    <link rel="stylesheet" href="/css/chart/base.css">
    <link rel="stylesheet" href="/css/chart/companyIndex.css">
</head>

<body>
    <div class="modal-top flex">
        <div class="flex">
            <a href="/company/dailyView">
                <div class="tab-switch ">日视图</div>
            </a>
            <a href="/company/weekView">
                <div class="tab-switch slesct-tab"> 周视图 </div>
            </a>
            <a href="/company/monthView">
                <div class="tab-switch "> 月视图 </div>
            </a>
        </div>
        <div class="flex choice">
            <div class="choice-tab choice-company">选择公司号</div>
            <div class="choice-tab choice-month">选择周期</div>
            <div class="calendar-wrapper">
                <div id="calendar-weekly"></div>
            </div>
            <div class="company-wrapper">
                <div class="company-weekly"></div>
            </div>
        </div>
    </div>
    <img class='header-bg' src='/image/header_bg.png'></img>
    <div class="modal-title">
        <span style="font-size:1.218rem">天津</span>公交OD数据分析
    </div>

    <!-- 周视图 / 月视图 -->
    <div class="modal-main selcted">
        <div class=" modal-main-one">
            <div class="site-rank">
                <div class='chart-title'>换乘次数</div>
                <div id="site-rank" data-view="generateSiteRankBarLine" class="chartArea">
                </div>
            </div>
            <div id="sale-chart">
                <div class="hot-tab ride slesct-tab" name="consumeCount">消费<br>次数</div>
                <div class="hot-tab time-get" name="offCount">下车<br>次数</div>
                <div class="hot-tab time-drive" name="transferCount">换乘<br>次数</div>
                <div class='hot-tab-img show'>
                    <div id="company-map" data-view="showCompanyDaysHeatMap" class="chartArea"></div>
                </div>
                <!--<div class='hot-tab-img'>5555<img src="/image/timg.jpg" alt=""></div>
                <div class='hot-tab-img'>4444<img src="/image/timg.jpg" alt=""></div>-->
            </div>
            <div class='sale-Statistics'>
                <div class='chart-title'>消费次数图</div>
                <div id="sale-Statistics" data-view="generateSaleCountBarLine" class="chartArea">
                </div>
            </div>
        </div>
        <div class=" daily-view-title">
            <div class='daily-view-top'>
                <div class='chart-title'>文字描述</div>
                <div class="big-title-content" >
                    <div style="padding-bottom: 0.2rem" id="desc"><!--2020年01月06日到2020年01月12日，08公司总计消费次数共为<span class="several-time">？次</span>，换乘次数共为<span class="several-time">？次</span>，拥挤度平均为<span class="several-time">？</span>--></div>
                    <div id="cardTypeDesc"><!--支付宝消费为<span class="several-time">？次</span>，微信消费为<span class="several-time">？次</span>，银联卡消费为<span class="several-time">？次</span>，CPU月票消费为<span class="several-time">？次</span>，交通部卡消费为<span class="several-time">？次</span>，M1客票卡消费为<span class="several-time">？次</span>，城市卡消费为<span class="several-time">？次</span>，银联码消费为<span class="several-time">？次</span>，M1月票卡消费为<span class="several-time">？次</span>，CPU客票消费为<span class="several-time">？次</span>--></div>
                </div>
            </div>
        </div>
        <div class="flex modal-main-two">
            <div class="form-chart ">
                <div class='chart-title'>卡类型消费占比图</div>
                <div id="card-type" data-view="generateCardTypePie" class="chartArea">
                </div>
            </div>
            <div class="transf-chart">
                <div class='chart-title'>线路消费排名图</div>
                <div id="transf-chart" data-view="generateTransfChartBar" class="chartArea">
                </div>
            </div>
            <div class="form-chart">
                <div class='chart-title'>站点消费次数排名图</div>
                <div id="number-of-consume-chart" data-view="generateNumOfConsumeChartBar" class="chartArea">
                </div>
            </div>
            <div class="transf-chart">
                <div class='chart-title'>站点下车人次排名图</div>
                <div id="number-of-get-off-chart" data-view="generateNumOfGetOffChartBar" class="chartArea">
                </div>
            </div>
        </div>
        <div class="flex modal-main-there">
            <div class="transfer-count-rank">
                <div class='chart-title'>站点换乘次数排名图</div>
                <div id="transfer-count-rank" data-view="generateNumOfTransferChartBar" class="chartArea">
                </div>
            </div>
            <div class="five-chart">
                <div class='chart-title'>五峰消费图</div>
                <div id="five-chart" data-view="generateFiveChartFiveBars" class="chartArea">
                </div>
            </div>
            <div class="crowd-chart">
                <div class='chart-title'>拥挤度图</div>
                <div id="crowd-chart" data-view="generateCrowdChartBarLine" class="chartArea">
                </div>
            </div>
        </div>
    </div>

    <div id="bigg">
        <img src="/image/cancel.png">
    </div>

    <script src="/js/chart/jquery.js"></script>
    <script src="/js/chart/echarts.min.js"></script>

    <script src="/js/chart/commonChartHandle.js"></script>
    <script src="/js/chart/handleMonthDate.js"></script>
    <script src="/js/chart/generalHandleData.js"></script>
    <!--基础js-->
    <script src="/js/chart/baseChart/bar/generateBar.js"></script>
    <script src="/js/chart/baseChart/barLine/generateBarLine.js"></script>
    <script src="/js/chart/baseChart/fiveBars/generateFiveBars.js"></script>
    <script src="/js/chart/baseChart/pie/generatePie.js"></script>
    <script src="/js/chart/baseChart/dynamicBar/generateDynamicBar.js"></script>
    <script src="/js/chart/dateUtil.js"></script>
    <!-- 周和月 -->
    <script src="/js/chart/company/weekAndMonth/cardTypePie.js"></script>
    <script src="/js/chart/company/weekAndMonth/crowdBarLine.js"></script>
    <script src="/js/chart/company/weekAndMonth/fiveChartsFiveBars.js"></script>
    <script src="/js/chart/company/weekAndMonth/numberOfConsumeChartBar.js"></script>
    <script src="/js/chart/company/weekAndMonth/numberOfGetOffChartBar.js"></script>
    <script src="/js/chart/company/weekAndMonth/numberOfTransferChartBar.js"></script>
    <script src="/js/chart/company/weekAndMonth/saleCountBarLine.js"></script>
    <script src="/js/chart/company/weekAndMonth/siteRankBarLine.js"></script>
    <script src="/js/chart/company/weekAndMonth/transfChartBar.js"></script>
    <script src="/js/chart/company/companyOption.js"></script>


    <!-- 日历 -->
    <script src="/js/chart/FlexoCalendar.js"></script>
    <!-- 热力图 -->
    <script src="//webapi.amap.com/maps?v=1.4.15&key=d3755f8fa32d53e82dfcfc67e6d6fcb4"></script>
    <script src="/js/chart/map/heatMap.js"></script>
    <script src="/js/chart/chartDescHandle.js"></script>


    <script>
        var params = {
            startTime: '2020-01-06',
            endTime: '2020-01-12',
            deptNo: '08'
        }

        $(function () {
            let weekTime = getWeekTime();
            $(".choice-company").text(params.deptNo)
            $(".choice-month").text(weekTime)
            params.startTime = weekTime.split(",")[0];
            params.endTime = weekTime.split(",")[1];
            initChart()
        })

        $(function () {
            $(".hot-tab").click(function () {
                $(this).addClass("slesct-tab").siblings().removeClass("slesct-tab");
                // $('.hot-tab-img').eq($(this).index()).addClass('show').siblings().removeClass('show');

                let name = $(this).attr("name");
                switch (name) {
                    case "consumeCount":
                        heatMap.getConsumeCountMap('company-map')
                        break;
                    case "transferCount":
                        heatMap.getTransferCountMap('company-map')
                        break;
                    case "offCount":
                        heatMap.getOffCountMap('company-map')
                        break;
                    default:
                        break;
                }
            })
        })

        // 1 初始化所有view2222 div
        $(function () {
            // initChart()
        })

        function initChart() {
            getCompDescByDays(params)
            $(".chartArea").each(function () {
                execute($(this), $(this).attr('id'), params, false);
            });
        }

        // 2 监听所有view2222 div click
        // $(".chartArea").click(execute($(ggg), params))
        $(".chartArea").click(function () {
            $("#bigger").remove()
            $("#bigg").append("<div id=\"bigger\"></div>")
            $("#bigg").show()
            execute($(this),'bigger', params, true)
        })

        function execute(el, id, params, flag) {
            //flag参数用于区分是否为放大显示
            var fnStr = el.data("view")
            window[fnStr](id, params, flag)
        }

        //点关闭取消
        $("#bigg img").click(function () {
            $("#bigg").hide();
        });

        //点击查看公司号
        $(".choice-company").click(function () {
            $(".calendar-wrapper").removeClass("show");
            if ($('.company-wrapper').hasClass('show')) {
                $(".company-wrapper").removeClass("show");
            } else {
                $(".company-wrapper").addClass("show");
            }
        });


        $('.hot-tab-img').eq($(this).index()).addClass('show').siblings().removeClass('show');
        $(".company-weekly").click(function () {
            $('.company-weekly').eq($(this).index()).addClass('selection').siblings().removeClass('selection');
            let textt = $('.company-weekly').eq($(this).index()).text()
            $(".choice-company").text(textt);
            $(".company-wrapper").removeClass("show");
            params.deptNo = textt
            $("#bigg").hide()
            initChart()
        });

        //点击查看日历
        $(".choice-month").click(function () {
            $(".company-wrapper").removeClass("show");
            if ($('.company-weekly').hasClass('show')) {
                $(".calendar-wrapper").removeClass("show");
            } else {
                $(".calendar-wrapper").addClass("show");
            }
        });
        //日历
        $("#calendar-weekly").flexoCalendar({
            type: 'weekly', today: true,
            onselect: function (date) {
                $(".calendar-wrapper").removeClass("show");
                $(".choice-month").text(date);
                let startTime = date.split(",")
                params.startTime = date.split(",")[0]
                params.endTime = date.split(",")[1]
                $("#bigg").hide()
                initChart()
            }
        });

        $("body").on('click','.company-weekly',function () {
            $('.company-weekly').eq($(this).index()).addClass('selection').siblings().removeClass('selection');
            let textt = $('.company-weekly').eq($(this).index()).text()
            $(".choice-company").text(textt);
            $(".company-wrapper").removeClass("show");
            params.deptNo = textt
            $("#bigg").hide()
            initChart()
        });

        //鼠标滑过添加背景色
        $("body").on('mouseenter','.company-weekly',function () {
            $(this).addClass('selection');
        })
        $("body").on('mouseleave','.company-weekly',function () {
            $(this).removeClass('selection');
        })

        //点击其他地方隐藏弹出框
        $(document).mouseup(function (e) {
            var _con = $('.choice-month,.choice-direction,.choice-company,.calendar-wrapper');   // 设置目标区域
            if (!_con.is(e.target) && _con.has(e.target).length === 0) { // Mark 1
                $(".company-wrapper").removeClass("show");
                $(".direction-wrapper").removeClass("show");
                $(".calendar-wrapper").removeClass("show");
            }
        });

    </script>
</body>

</html>
