<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>公交OD算法分析系统</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-offset-3 col-md-6">
            <form class="form-horizontal">
                <!--<div class="alert alert-danger alert-dismissible"  role="alert" style="padding: 11px;display: none">
                    错误信息: <span class="error-mess"></span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="right:0px;"><span aria-hidden="true">&times;</span></button>
                </div>-->
                <span class="heading">LOGIN</span>
                <div class="form-group">
                    <input type="text" class="form-control clearBorder" id="username" name="username" placeholder="用户名">
                    <i class="fa fa-user"></i>
                </div>
                <div class="form-group help">
                    <input type="password" class="form-control clearBorder" id="password" name="password" placeholder="密　码">
                    <i class="fa fa-lock"></i>
                    <a href="#" class="fa fa-question-circle"></a>
                </div>
                <div class="form-group">
                    <button type="button" id="login" class="btn btn-default">登录</button>
                </div>
            </form>
        </div>
    </div>
    <div style="border: 1px solid transparent;">
        <p style="bottom: 1%;font-weight: 400;color: #636161;font-size: 22px;letter-spacing:1px ;text-align: center;">公交OD算法分析系统</p>
    </div>
</div>
</body>
<script type="text/javascript" src="/js/jquery-3.3.1.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/login.js"></script>
</html>